<style>
.container img {
   width: 100%;
   padding: 20px;
   border-right: solid;
   border-radius: 15px 50px;
   border-left: solid;
}

h1{
	font-size: 60px;
	color: purple;
}
#banner{
	width: 100%;
}	
.event-content{
	font-size: 30px;
}
.event-header{
	background-color: rgba(192,192,192,0.5);
}
.round-box{
	border-radius: 50px;
}
</style>
<header class="event-header">
    <img id="banner" src="/events/banner.jpg">
    <div class="header-content page-wrap" style="padding-left: 30px;padding-bottom: 50px;">
    	<br><br><br><br>
		<% @events.each do |e|%>
		<div class="container round-box" style="padding:20px;background-color: rgba(192,192,192,0.4);">
			<div class="row">
				<div class="col-md-5">
			    	<img src="<%= e.other%>">					
				</div>
				<div class="col-md-7" style="text-align: left">
					<h1><%= e.name %></h1>
					<h4 class="event-content"><%= e.caption %></p>
				</div>
			</div>			
		</div>
		<br><br><br><br>
		<% end %>
		<h3><%= will_paginate @events %></h3>
    </div>
</header>

