<div style="background-color: #fbfbfb">
	<div style="padding-left: 30px;padding-bottom: 50px">
	   <p style="padding: 30px 0px 0px 0px; font-size: 40px;font-weight:lighter;">Hello, Dear Merino Family Member!</p>
	   <p style="font-size: 20px;font-weight:lighter;">Welcome to MyMerino Portal.</p>
	   <hr>
	   <h6>Your new home for-Product related information, Training, Certifications, Company, Events and so much more! click below to learn more about MyMerino</h6>
	   <button class="btn btn-primary">Learn more</button>
    </div>
</div>
<div class="blue-gradient" style="padding-bottom: 10px">
	<p class="text-center" style="font-size: 25px;font-weight: 5;padding-top: 20px">Quote of the Week!</p>
	<h4 class="text-center">The mind is everything. What you think you become.</h4>
	<h6 class="text-center">-Budha</h6>
</div>