<style>
.header-content-inner{
	border-left: solid;
	border-right: solid;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 0 50px 0 50px;
	background-color: silver;
	padding: 50px;
	margin-top: -50px;
}	
</style>
<%= render 'layouts/navbar2' %>    

<header>
    <div class="header-content page-wrap" style="padding-left: 30px;padding-bottom: 50px;background-color: #eef4f7;">
        <div class="header-content-inner">
          <%= Product.find_by(name: params[:product]).overview.body.html_safe%>
        </div>
    </div>
</header>
