<style>
.header-content-inner{
	border-left: solid;
	border-right: solid;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 0 50px 0 50px;
	background-color: silver;
	padding: 50px;
	margin-top: -50px;
}	
h1{
	font-size: 40px;
	color: purple;
}	
</style>

<%= render 'layouts/navbar2' %>    
<header>
    <div class="header-content page-wrap" style="padding-left: 30px;padding-bottom: 50px;background-color: #eef4f7;">
        <div class="header-content-inner">
          <h1><%= params[:col] %></h1><hr>
           <h2>Product name : <%= params[:product] %></h2><br><br><br>
         <%= Product.find_by(name: params[:product]).send(params[:table]).send(params[:col].to_sym).html_safe%>
        </div>
    </div>
</header>
