<style>
.card{
	padding-bottom: 50px;
	border-radius: 0 0 40px 40px;
}	
input, textarea{
	width: 40%;
}
form{
	font-size: 20px;
}
#fotter-btn{
	font-size: 20px;
}
</style>
<div class="card card-blue bg-dark">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="card-body center locate-card">
				<h1 style="color: white;">Contact Us</h1>
				<br>
				<img src="/favicon.png">
				<h2 style="color: white;">Phone +91 777777555</h2>
				<h2 style="color: white;">Email admin@example.com</h2>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="card-body center">
				Send an Enquiry
				<form action="" class="enquiry-form">
					<div class="name field input-pri">
						<input type="text" name="display_name" placeholder="Name"  >
						
					</div>
					<div class="name field input-pri">
						<input type="number" name="mobile" placeholder="Mobile"  >
						
					</div>
					<div class="name field input-pri">
						<input type="text" name="number" placeholder="Emp Number"  >
						
					</div>
					<div class="designation field textarea-pri">
						<textarea  type="text" name="message" placeholder="Message" ></textarea>
						
					</div>
					<button id="fotter-btn" type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
    		 