<footer class="footer site-footer">
      <div class="container">
              <copyright>
                  <h1> &copy; MyMerino <%= Time.now.year %></h1>
              </copyright>
              <nav>
                <ul>
                  <li><a href="http://news.railstutorial.org/"><h1>Contact Us</h1></a></li>
                  <li><a href="http://news.railstutorial.org/"><h1>admin@example.com</h1></a></li>
                </ul>
              </nav>
      </div>
</footer>