<% if user_signed_in? %>

<style>
.card{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
} 
input, textarea{
  width: 80%;
}
form{
  font-size: 15px;
}
#fotter-btn{
  font-size: 20px;
}
.footer-h{
  color: white;
}
.locate-card{
  background-color: black;
  padding: 20px;
  text-align: left;
}
.footer-links{
  font-size: 25px;
}
.the-end{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  background-color: black;
  color: silver;
}
</style>
<div class="card card-blue bg-dark">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-body center locate-card">
          <h2 class="footer-h">Links</h2><hr>
          <a href="https://s3.ap-south-1.amazonaws.com/ppts-merino/Merino-Corp-Profile.pdf" target="_blank" class="footer-links">About Us</a><br><br>
          <a href="/docs/corporate.txt" target="_blank"
          class="footer-links">Corporate Profile</a><br><br>
          <a href="/docs/environment.txt" target="_blank" class="footer-links">Environment Sustainablity</a><br><br>
          <a href="/docs/csr.txt" target="_blank" class="footer-links">CSR</a><br><br>
          <a href="/docs/annual.txt" target="_blank" class="footer-links">Annual Report</a><br>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-body center locate-card">
          <h2 class="footer-h">Map</h2><hr>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.0459104834576!2d88.34507621495897!3d22.53995288519957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027715e92a7d65%3A0xe0bca81d609e0f55!2sMerino+Industries+Limited!5e0!3m2!1sen!2sin!4v1545907651926" width="100%" height="253" frameborder="0" style="border:0" allowfullscreen></iframe>          
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-body center locate-card">
        <h2 class="footer-h">Contact Us</h2><hr>
        <form action="/contact_us" method="get" class="enquiry-form" style="text-align: center;">
          <div class="name field input-pri">
            <input type="text" name="name" placeholder="Name"  >
            
          </div>
          <div class="name field input-pri">
            <input type="number" name="mobile" placeholder="Mobile"  >
            
          </div>
          <div class="name field input-pri">
            <input type="text" name="number" placeholder="Emp Number"  >
            
          </div>
          <div class="designation field textarea-pri">
            <textarea  type="text" name="message" placeholder="Message" ></textarea>
            
          </div>
          
          <button id="fotter-btn" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <div class="the-end">Copyright @MyMerino</div>
</div>
         
<% end %>